**/data
**/results
*.Rproj
*.out
*.fa
*.fai
*.fna
*.gff
*.gtf
*.bam
*.bai
*.sam
*.ht2
*.err
*.zip
*.gzip
*fastq
*html
*.gz
**/genome
.DS_Store
.Rproj.user
.Rhistory
**/busco_downloads/
*fasterq.tmp.xanadu-69.3623483
*fasterq.tmp.xanadu-69.3623484
*fasterq.tmp.xanadu-69.3623485
*fasterq.tmp.xanadu-69.3623486
